<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
 <appSettings>
		<add key="connection" value="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.205.21)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = KPEIORE1))); User Id = ATLANTA; Password = ATLANTA;"/>
		<add key="consumer" value="COBASS"/>
		<add key="queue1" value="FLORIDA_KSEI.KSEIINQ2"/>
		<add key="queue2" value="FLORIDA_KSEI.KSEIINQ2"/>
	    <add key="message" value="This is Test Message From KPEI"/>
	</appSettings>
</configuration>