<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
 <appSettings>
		<add key="connection" value="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = )(PORT = ))(CONNECT_DATA =(SERVICE_NAME = ))); User Id = ; Password = ;"/>
		<add key="consumer" value=""/>
		<add key="queue1" value=""/>
		<add key="queue2" value=""/>
	    <add key="message" value=""/>
	</appSettings>
</configuration>
